* {
  border: none;
  font-family: "GohuFont 11 Nerd Font Mono", monospace;
  font-size: 11px;
  text-shadow: none;
  transition-duration: 0s;
}
#waybar {
  background: rgba(10, 10, 110, 0);
}

window#waybar {
  color: rgba(217, 216, 216, 1);
  background: rgba(10, 10, 10, 1);
}

window#waybar.solo {
  color: rgba(217, 216, 216, 1);
  font-weight: bolder;
  background: rgba(0, 0, 0, 1);
}

#workspaces {
  margin: 0 4px;
}
#window {
}
#waybar {
  border: 5px solid rgba(0, 0, 0, 0); /* Borde translúcido */
  border-radius: 4px; /* Esquinas redondeadas */
}

#workspaces button:hover {
  color: rgba(217, 216, 216, 1);
  background: rgba(20, 20, 20, 0);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
  /*background: rgba(20, 20, 20, 1);*/
}

workspaces button.focused {
  border: 3px solid rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#bluetooth,
#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-spotify,
#custom-weather,
#custom-power,
#custom-cpu_temp,
#custom-gpu_temp {
  margin: 0 5px;
  min-width: 25px;
  /*   border: 2px solid rgba(217, 216, 216, 0.5); */
  padding: 0px 5px;
}
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#custom-cpu_temp:hover,
#custom-gpu_temp:hover,
#clock:hover,
#pulseaudio:hover {
  color: rgba(146, 146, 146, 1);
}

#clock {
  margin: 0px 5px;
  min-width: 140px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}
#custom-power {
  color: rgba(110, 10, 10, 1);
}
