* {
  border: none;
  border-radius: 0;
  font-family: Iosevka, monospace;
  font-size: 13px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}
#waybar {
  background: rgba(10, 10, 110, 0);
  margin: 1px;
}

window#waybar {
  color: rgba(217, 216, 216, 1);
  background: rgba(10, 10, 10, 1);
}

window#waybar.solo {
  color: rgba(217, 216, 216, 1);
  font-weight: bolder;
  background: rgba(0, 0, 0, 1);
}

#workspaces {
  margin: 0 5px;
}
#window {
  margin: 0 5px;
  padding: 2px 5px;
}
#waybar {
    border: 5px solid rgba(0, 0, 0, 0); /* Borde translúcido */
    border-radius: 4px;  /* Esquinas redondeadas */
}

#workspaces button:hover {
  color: rgba(217, 216, 216, 1);
    background: rgba(20, 20, 20, 0);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
  /*background: rgba(20, 20, 20, 1);*/
}

workspaces button.focused {
  border-top: 3px solid rgba(217, 216, 216, 1);
  border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#bluetooth,
#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-spotify,
#custom-weather,
#custom-power {
  margin: 0 5px;
  min-width: 25px;
  /*   border: 2px solid rgba(217, 216, 216, 0.5); */
  padding: 2px 5px;
}

#clock {
  margin: 0px 5px;
  min-width: 140px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}
#custom-power {
  color: rgba(110, 10, 10, 1);
}
