/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #004d66 !important;
  --toolbarbutton-icon-fill: #6ed2ff !important;
  --toolbar-field-color: #e2e2e2 !important;
  --tab-selected-textcolor: #6ed2ff !important;
  --toolbar-color: #e2e2e2 !important;
  --arrowpanel-color: #e2e2e2 !important;
  --arrowpanel-background: #1f1f1f !important;
  --sidebar-text-color: #e2e2e2 !important;
  --zen-main-browser-background: #131313 !important;
}

.sidebar-placesTree {
  background-color: #1f1f1f !important;
}

#zen-workspaces-button {
  background-color: #1f1f1f !important;
}

#TabsToolbar {
  background-color: #131313 !important;
}

.urlbar-background {
  background-color: #1f1f1f !important;
}

.urlbar-input::selection {
  color: #003547 !important;
  background-color: #6ed2ff !important;
}

.urlbarView-url {
  color: #c6c6c6 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #6ed2ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #83d8ff !important;
  --identity-icon-color: #83d8ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #6ed2ff !important;
  --identity-icon-color: #6ed2ff !important;
}

.identity-color-green {
  --identity-tab-color: #99ffa4 !important;
  --identity-icon-color: #99ffa4 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff899 !important;
  --identity-icon-color: #fff899 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff55f !important;
  --identity-icon-color: #fff55f !important;
}

.identity-color-red {
  --identity-tab-color: #ff92b5 !important;
  --identity-icon-color: #ff92b5 !important;
}

.identity-color-pink {
  --identity-tab-color: #99dfff !important;
  --identity-icon-color: #99dfff !important;
}

.identity-color-purple {
  --identity-tab-color: #005176 !important;
  --identity-icon-color: #005176 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131313 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #6ed2ff !important;
  color: #6ed2ff !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #6ed2ff !important;
  color: #6ed2ff !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #6ed2ff !important;
}
