@import url("/home/six66/.cache/wal/colors-waybar.css");

* {
  border: none;
  box-shadow: none;
  outline: none;
}

window {
  margin: 0px;
  border: 2px solid @color8;
  background-color: @background;

  animation: none;
}
#input {
  margin: 5px;
  border: none;
  color: @foreground;
  background-color: @background;
}
#input:focus {
  outline: none;
  stroke-linecap: round;
  color: @color8;
  background-color: @background;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @background;
}

#outer-box {
  margin: 5px;
  border: none;
  color: @foreground;
  background-color: @background;
}

#scroll {
  margin: 0px;
  border: none;
  background-color: @background;
}

#text {
  margin: 5px;
  font-size: 12px;
  font-family: "FantasqueSansM Nerd Font";
  font-weight: bold;
  border: none;
  color: @foreground;
}

#entry:selected {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
#entry {
  font-size: 2px;
}
#img {
  /* font-size: 8px; */
  margin: 0px 2px;
  padding: 2px;
  border-radius: 100%;
  background-color: @color8;

  /* box-sizing: border-box; */
}
